# Server Configuration
PORT=5000
GRPC_PORT=9000
GRPC_URL=0.0.0.0
RUST_LOG=info
DEBUG=false
TZ="UTC"

# Database Configuration
DATABASE_URL=postgres://postgres:admin@localhost:5432/store
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=store
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Security
JWT_SECRET=Ch@ng3m3Pl3@s3!!
CLEANUP_PASSWORD=admin
SESSION_EXPIRES_IN=1d
DEFAULT_SENSITIVITY_LEVEL=1000

# Organization Settings
DEFAULT_ORGANIZATION_ID=01JBHKXHYSKPP247HZZWHA3JCT
DEFAULT_ORGANIZATION_NAME=global-organization
DEFAULT_ORGANIZATION_ADMIN_PASSWORD=ch@ng3m3Pl3@s3!!
GROUP_ID=01JBHKXHYSKPP247HZZWHA3JBT

# Sync Configuration
SYNC_ENABLED=false
SYNC_TIMER_MS=60000
BATCH_SYNC_ENABLED=false
BATCH_SYNC_TYPE=round-robin
BATCH_SYNC_SIZE=100

# Cache Configuration
REDIS_CONNECTION=redis://127.0.0.1:6379/
CACHE_TTL=3600
CACHE_TYPE=redis #inmemory

# Storage Configuration
DISABLE_STORAGE=false
STORAGE_ENDPOINT="https://mastra-minio-api.app.dnaqa.net"
STORAGE_ACCESS_KEY="minioadmin"
STORAGE_SECRET_KEY="uA633fr9F9hQ"
STORAGE_BUCKET_NAME="global-organization"
STORAGE_REGION="us-east-1"
STORAGE_DISABLE_SSL_VERIFICATION="true"